<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HMS</title>
    <!-- Assuming you have linked necessary stylesheets here -->
    <link rel="stylesheet" href="/stylesheets/home.css">
   
</head>
<body>
    <header id="header">
        <a href="/"><h3>HMS</h3></a>
    </header>

    <div id="sidebar">
        <a href="/viewMedicalHistory?email=<%= email %>" class="sidebar-button">View Medical History</a>
        <a href="/viewAppointment?email=<%= email %>" class="sidebar-button">View Appointments</a>
        <a href="/scheduleAppointment?email=<%= email %>" class="sidebar-button">Schedule Appointment</a>
        <a href="/Patient_settings?email=<%= email %>" class="sidebar-button">Settings</a>
        <a href="/signout" class="sidebar-button">Sign Out</a>
    </div>

    <div id="main">
        <div class="main-content2">
            <h1 >HMS</h1>
        </div>
        <div class="main-content">
            <h2 class="main-heading">Welcome <%= name %></h2>
        </div>
    </div>

    <!-- You may need to include necessary scripts here -->
</body>
</html>
